body {
  margin: 0; /* Removes default margin to avoid unintended scroll */
  padding: 0; /* Removes default padding */
  width: 100%; /* Ensures body takes full width */
  min-height: 100vh; /* Ensures full viewport height */
  box-sizing: border-box; /* Includes padding and border in the element's total width and height */
  overflow-x: hidden; /* Prevents horizontal scrolling */
}

.xl-text {
  font-size: 65px;
}

.nav-link {
	color: white;
}

.nav-link:hover {
	color: #b449d6;
}

.navbar {
  transition: all 0.5s ease-in-out;
}

.nav-item {
  margin: 0 2rem;
}

.navbar-sticky {
  opacity: 0.8;
}

.vertical-decoration {
  top: 12%;
  width: 24px;
}

@media (max-width: 992px) {
  .xl-text {
    font-size: 50px;
  }
}

.nav-logo {
  height: 10vh;
}

.photo-left {
  position: absolute;
  top: -30%;
  left: 3%;
  z-index: -9;
}

.photo-right {
  position: absolute;
  top: -46%;
  right: -40%;
  z-index: 3;
}

.feature-box {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -0.75rem;
  margin-right: -0.75rem;
}

.feature-box:first-child {
  margin-top: 0;
}

.fbox-icon {
  width: 6.5rem;
  height: 5rem;
  padding: 0 0.75rem;
}

.fbox-icon a,
.fbox-icon i,
.fbox-icon img {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  color: #fff;
}

.fbox-icon i,
.fbox-icon img {
  border-radius: 50%;
  background-color: #1abc9c;
}

.fbox-icon i {
  font-style: normal;
  font-size: 1.75rem;
  line-height: 4rem;
  text-align: center;
}

.fbox-content {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  min-width: 0;
  max-width: 100%;
  padding: 0 0.75rem;
}

.fbox-content h3 {
  font-size: 1rem;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  margin-bottom: 0;
  color: #333;
}

.fbox-content p {
  margin-top: 0.5rem;
  margin-bottom: 0px;
  color: #999;
}

.fbox-content .before-heading {
  font-size: 0.875rem;
}

.fbox-content-sm h3,
.fbox-content-sm p {
  font-size: 0.875rem;
}

.fbox-content-sm .before-heading {
  font-size: 0.75rem;
}

.fbox-content-lg h3 {
  font-size: 1.25rem;
}

.fbox-content-lg p {
  font-size: 1.125rem;
  margin-top: 0.75rem;
}

.fbox-content-lg .before-heading {
  font-size: 1rem;
}

.fbox-center {
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.fbox-center .fbox-content {
  -ms-flex-preferred-size: auto;
}

.testimonial-card {
  background-color: #0c1427 !important;
  border-radius: 1rem;
  box-shadow: 10px 10px 10px 1px #0c1427;
  height: 320px;
  z-index: 6;
}

.testimonial-arrow {
  color: white;
  font-size: 24px;
  padding: 2rem;
  border-radius: 50%;
  background: #0c1427;
  cursor: pointer;
}
.testimonial-arrow:hover {
  box-shadow: 2px 2px 4px 4px #0c1427;
}

.faq-back {
  z-index: 4!important;
  margin-top: 360px!important;
  background: #0c1427 url("./images/bg.svg") no-repeat right center;
}

#testimonials .container {
  height: 480px;
  left: 25%;
}

.navbar-transparent {
  background-color: transparent;
  transition: background-color 0.3s ease;
}

.navbar-scrolled {
  background-color: rgba(0, 0, 0, 0.8);
  transition: background-color 0.3s ease;
}

.border-radius-4{
  border-radius: 4px!important;
}

.skill-card{
  cursor: pointer;
}

.portfolio-card{
  background: #0c1427!important;
  height: 500px;
}

.portfolio-img{
  height: 360px;
}

.portfolio-content{
  display: flex;
  flex-direction: column;
  height: 140px;
}

/* Testimonials.css */
.testimonial-wrapper {
  position: relative;
  overflow: hidden;
}

.slide-content {
  animation: slideIn 0.5s ease-out;
}

.testimonial-wrapper.next .slide-content {
  animation: slideInFromRight 0.5s ease-out;
}

.testimonial-wrapper.prev .slide-content {
  animation: slideInFromLeft 0.5s ease-out;
}

@keyframes slideInFromRight {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideInFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.accordion{
  box-shadow: 0 1px 3px 0.5px #4ea2f7;
}

.accordion-item{
  border: 1px solid #459bf1;
}

.accordion-button{
  background: #4ea2f7!important;
  color: #eeeeee;
}

.accordion-button.collapsed{
  background: #0c1427!important;
}

.accordion-body{
  background: #0c1427!important;
}

.blurred-border {
  position: relative;
  background-color: #201353;
  z-index: 0; /* Ensure main content is on top */
}

.blurred-border::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: -30px; /* Adjust this to control the size of the blurred border */
  background-color: inherit;
  filter: blur(20px); /* Adjust the blur amount */
  z-index: -1; /* Place behind the main content */
  pointer-events: none; /* Ensures interactions work through the pseudo-elements */
}

.z-index-5{
  z-index: 5;
}

#footer{
  border-top: 1px solid white;
}